<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.banary.admin.mapper.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.banary.admin.entity.SystemLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="operator_id" property="userName" jdbcType="BIGINT" />
    <result column="operator_name" property="password" jdbcType="VARCHAR" />
    <result column="operate_type" property="role" jdbcType="BIT" />
    <result column="operator_ip" property="realName" jdbcType="VARCHAR" />
    <result column="content" property="mobile" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, operator_id, operator_name, operate_type, operator_ip, content, version, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.banary.admin.entity.SystemLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.banary.admin.entity.SystemLogExample" >
    delete from system_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.banary.admin.entity.SystemLog" useGeneratedKeys="true" keyProperty="id" >
    insert into system_log (operator_id, operator_name, operate_type, 
      operator_ip, content, version, 
      create_time, update_time)
    values (#{userName,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=BIT}, 
      #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.banary.admin.entity.SystemLog" useGeneratedKeys="true" keyProperty="id" >
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        operator_id,
      </if>
      <if test="password != null" >
        operator_name,
      </if>
      <if test="role != null" >
        operate_type,
      </if>
      <if test="realName != null" >
        operator_ip,
      </if>
      <if test="mobile != null" >
        content,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=BIT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.banary.admin.entity.SystemLogExample" resultType="java.lang.Integer" >
    select count(*) from system_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null" >
        operator_id = #{record.userName,jdbcType=BIGINT},
      </if>
      <if test="record.password != null" >
        operator_name = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null" >
        operate_type = #{record.role,jdbcType=BIT},
      </if>
      <if test="record.realName != null" >
        operator_ip = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        content = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_log
    set id = #{record.id,jdbcType=BIGINT},
      operator_id = #{record.userName,jdbcType=BIGINT},
      operator_name = #{record.password,jdbcType=VARCHAR},
      operate_type = #{record.role,jdbcType=BIT},
      operator_ip = #{record.realName,jdbcType=VARCHAR},
      content = #{record.mobile,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.banary.admin.entity.SystemLog" >
    update system_log
    <set >
      <if test="userName != null" >
        operator_id = #{userName,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        operator_name = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        operate_type = #{role,jdbcType=BIT},
      </if>
      <if test="realName != null" >
        operator_ip = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        content = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.banary.admin.entity.SystemLog" >
    update system_log
    set operator_id = #{userName,jdbcType=BIGINT},
      operator_name = #{password,jdbcType=VARCHAR},
      operate_type = #{role,jdbcType=BIT},
      operator_ip = #{realName,jdbcType=VARCHAR},
      content = #{mobile,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>